@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth; /* Animasi scroll */
}

body {
  background: #f8f9fa; /* Warna latar belakang */
  color: #333; /* Warna teks */
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  background: linear-gradient(to right, #2a59be, #043873);
  color: #fff;
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #007bff;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

input {
  font-size: 100%;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section p {
  font-size: 1.2rem;
  line-height: 1.5;
}

footer {
  background: #343a40;
  color: white;
  padding: 1rem;
  text-align: center;
}
