.layanan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    width: 100%;
    background-color: #00A3D9;
}

.layanan h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
}

.layanan p {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 30px;
    max-width: 800px;
    line-height: 1.6;
    text-align: center;
}

.layanancard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    justify-items: center;
}

.layanan-item {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 20px; /* Increased padding to center icon better */
    width: 100%;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-icon {
    font-size: 6rem;
    color: black;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.item-heading {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 10px;
}

.item-text {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    margin-top: 10px;
}

.learn-more {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 15px;
}

.learn-more:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .layanancard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .layanancard {
        grid-template-columns: 1fr;
    }
}
