/* .testimonial-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.title h1 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 10px;
}

.title p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
}

.slider-container {
  position: relative;
  user-select: none;
  width: 100%;
}

.testimonial-card {
  background-color: #004e7c;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.author {
  font-weight: bold;
  text-align: right;
}

.slick-prev:before, .slick-next:before {
  color: #00a3d9;
}

.slick-dots {
  display: flex !important; 
  justify-content: center;
  margin-top: 10px; 
}

.slick-dots li button:before {
  font-size: 10px;
  color: #00a3d9;
}

.slick-dots li.slick-active button:before {
  color: #ff6f59;
}

.slick-arrow {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #505050;
}

.slick-prev {
  left: 1rem;
  z-index: 1;
}

.slick-next {
  right: 1rem;
  z-index: 1; 
}

@media (max-width: 768px) {
  .testimonial-container {
    width: 100%;
  }
  
  .testimonial-card {
    padding: 20px;
  }
  
  .title h1 {
    font-size: 2.5rem;
  }
  
  .slick-arrow {
    font-size: 2rem;
  }
  
  .slick-prev {
    left: 0.5rem;
  }
  
  .slick-next {
    right: 0.5rem;
  }
} */


.section__container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 200px 2rem;
  text-align: center;
}

.header {
  margin-bottom: 2rem;
}

.header p {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
}

.header h1 {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  font-weight: 900;
}

.testimonials__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  background-color: var(--extra-light);
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card i {
  font-size: 2.5rem;
  color: gold;
}

.card p {
  font-size: 1rem;
  font-weight: 500;
}

.card hr {
  width: 40px;
  margin: auto;
  color: var(--text-light);
}

.card img {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
  border: 1px solid var(--primary-color);
}

.card .name {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-light);
  transition: 0.3s;
}

.card .name:hover {
  color: var(--primary-color);
}

.footer h4 {
  font-family: "Noto Serif", serif;
  font-size: 1.25rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.footer p {
  max-width: 450px;
  margin: auto;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.footer button {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--extra-light);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .testimonials__grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .testimonials__grid {
      grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .footer {
      grid-template-columns: 1fr;
  }
}